{% extends  '/include/layout.html' %}
{% block content %}

   <h1>Administrator Dashboard</h1>

   <!--create, view, modify, destroy-->
   <!--Time Slot-->

   <h2>Personal Information</h2>
   
   <h3>Password</h3>
   <!--Just modifying password-->


   <!--Department Table-->
   <h2>Department</h2>
   <table>
      <tr>
         <th>Department Name</th>
         <th>Building</th>
         <th>Budget</th>
      </tr>
      {% for department in data %}
         <tr>
            <td>{{ department["dept_name"] }}</td>
            <td>{{ department["buidling"] }}</td>
            <td>{{ department["budget"] }}</td>
         </tr>
      {% endfor %}
   </table>
   <!--create, modify, destroy-->


   <!--Classroom Table-->
   <h2>Classroom</h2>
   <table>
      <tr>
         <th>Building</th>
         <th>Room Number</th>
         <th>Capacity</th>
      </tr>
      {% for classroom in data %}
         <tr>
            <td>{{ classroom["building"] }}</td>
            <td>{{ classroom["room_number"] }}</td>
            <td>{{ classroom["capacity"] }}</td>
         </tr>
      {% endfor %}
   </table>
   <!--create, modify, destroy-->


   <!--Courses Table-->
   <h2>Courses</h2>
   <table>
      <tr>
         <th>Course ID</th>
         <th>Course Title</th>
         <th>Department</th>
         <th>Credits</th>
      </tr>
      {% for course in data %}
         <tr>
            <td>{{ course["course_id"] }}</td>
            <td>{{ course["title"] }}</td>
            <td>{{ course["dept_name"] }}</td>
            <td>{{ course["credits"] }}</td>
         </tr>
      {% endfor %}
   </table>
   <!--create, modify, destroy-->

   <!--Section Table-->
   <h2>Section</h2>
   <table>
      <tr>
         <th>Course ID</th>
         <th>Section ID</th>
         <th>Semester</th>
         <th>Year</th>
         <th>Building</th>
         <th>Room Number</th>
         <th>Time Slot ID</th>
      </tr>
      {% for section in data %}
         <tr>
            <td>{{ section["course_id"] }}</td>
            <td>{{ section["sec_id"] }}</td>
            <td>{{ section["semester"] instructor["middle_name"] instructor["last_name"] }}</td>
            <td>{{ section["sec_year"] }}</td>
            <td>{{ section["building"] }}</td>
            <td>{{ section["room_number"] }}</td>
            <td>{{ section["time_slot_id"] }}</td>
         </tr>
      {% endfor %}
   </table>
   <!--create, modify, destroy-->


   <!--Instructors Table-->
   <h2>Instructors</h2>
   <table>
      <tr>
         <th>Instructor ID</th>
         <th>User ID</th>
         <th>Legal Name</th>
         <th>Department</th>
         <th>Salary</th>
      </tr>
      {% for instructor in data %}
         <tr>
            <td>{{ instructor["instructor_id"] }}</td>
            <td>{{ instructor["user_id"] }}</td>
            <td>{{ instructor["first_name"] instructor["middle_name"] instructor["last_name"] }}</td>
            <td>{{ instructor["dept_name"] }}</td>
            <td>{{ instructor["salary"] }}</td>
         </tr>
      {% endfor %}
   </table>

   <!--create, modify, destroy-->
   <!--Modify Instructors to course sections-->



   <!--Students Table-->
   <h2>Students</h2>
   <table>
      <tr>
         <th>Student ID</th><th>User ID</th><th>Legal Name</th><th>Department</th><th>Total Credits</th><th>Advisor ID</th>
      </tr>
      {% for student in data %}
         <tr>
            <td>{{ student["student_id"] }}</td><td>{{ student["user_id"] }}</td><td>{{ student["first_name"] student["middle_name"] student["last_name"] }}</td><td>{{ student["dept_name"] }}</td><td>{{ student["tot_cred"] }}</td><td>{{ student["advisor_id"] }}</td>
         </tr>
      {% endfor %}
   </table>

   <!--create, modify, destroy-->


{% endblock %}